<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>{{page.title}}</title>
  <meta name="description" content="七分地主机，专业的PHP博客合租主机，提供免费空间，wordpress赞助空间，博客10人合租主机，20人合租主机,新加坡高速SSD主机，新加坡PHP空间，WHMCS主机，可获得正版whmcs授权" />
  <meta name="keywords" content="博客空间,合租主机,wordpress主机,博客主机,php主机,新加坡空间,whmcs主机,正版whmcs授权" />
 <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico"/>
    
  <!-- Included CSS files -->
  
  <link rel="stylesheet" href="styles/style.css" type="text/css"/>
  <link rel="stylesheet" href="styles/responsive.css" type="text/css"/>
  <link rel="stylesheet" href="styles/noscript.css" media="screen,all" id="noscript"/>
  <link rel="stylesheet" href="styles/softblue.css" type="text/css" />

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800,600&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
  
</head>
<body>
  
  <!-- Header Wrapper -->
  <div id="top-wrapper">
  
  <!-- Header -->
  <header>
  
    <div class="row">
      
      <!-- Header Text -->
      <div class="six columns">
         <div class="operational">
          <p>七分地主机，专业的PHP博客合租主机。</p></div>
      </div>
      <!-- Header Text End -->
      
      <!-- Header Support Link -->
      <div class="six columns">
        <div class="top_help">
          <ul>
            <li class=""><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=8567872&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:8567872:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
            <li class=""><a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=75d2b3451516878bab2949ed1fa030292040c32b82e542656a644f473e9f194c"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="QQ群：228108865" title="使用订单号加入QQ群"></a></li>
            <li class="client-login"><a href="http://vip.qifendi.com/clientarea.php">客户中心</a></li>
          </ul>
        </div>
      </div>
      <!-- Header Support Link End -->
      
    </div>  
  
  <div class="clear"></div>
  
  <!-- Menu Bar -->
  <section id="menubar">
  
    <div class="row">
      <!-- Logo --><!-- Logo End -->
      
      <!-- Main Navigation -->
      <nav id="navigation" class="nine columns"><span class="three columns"><a href="index.html"><img src="images/logo.png" alt="七分地主机" /></a></span>
        <ul class="sf-menu">
          <li class="selected"><a href="/">首页</a><span class="menudesc">Welcome</span></li>
          <li><a href="http://vip.qifendi.com/cart.php?gid=4">免费主机</a><span class="menudesc">Free Hosting</span></li>
          <li><a href="http://vip.qifendi.com/cart.php?gid=2">合租计划</a><span class="menudesc">Plans &amp; Pricing</span></li>
          <li><a href="#">虚拟主机</a><span class="menudesc">Web Hosting</span>
            <ul>
              <li><a href="/singapore.html">新加坡高速SSD主机</a></li>
              <li><a href="/hostgator.html">美国鳄鱼主机</a></li>
            </ul>
          </li>
          <li><a href="http://vip.qifendi.com/domainchecker.php">域名注册</a><span class="menudesc">Domain</span></li>
          <li><a href="#">其他信息</a><span class="menudesc">Other Info</span>
          <ul>
            <li><a href="http://www.qifendi.com/#about">关于七分地</a></li>
            <li><a href="http://www.qifendi.com/#tos">服务条款</a></li>
            <li><a href="http://vip.qifendi.com/contact.php">联系方式</a></li>
          </ul>
          </li>
        </ul>      
      </nav>
      <!-- Main Navigation End -->
      
    </div>
  </section>
  <!-- Menu Bar End -->

 </header>
 <!-- Header End -->
 

 
</div>
<!-- Header Wrapper End -->