#top-wrapper {
  background-image: url(../images/header-wrapper-softblue.jpg);
}
#top-wrapper-inner {
  background-image: url(../images/header-wrapper-softblue.jpg);
}
#menubar {
  background-image: url(../images/menubar-softblue.jpg);
}
/* Links */
a:link,a:visited,a:active {
  color:#005873;
  text-decoration:none;
  outline:0;
}	
a:hover {
  color:#555555;
  text-decoration:none;
  outline:0;
}
/* Menu Color */
.sf-menu a{
  color: #ffffff;
}
.sf-menu a:hover{
  color: #BFD9E0;
}
.sf-menu .current_page_item > a{
	color: #BFD9E0;
}
.sf-menu li.sfHover > a{
  color: #BFD9E0;
}
.sf-menu ul a{
  color: #555555 !important;
}
.sf-menu ul a:hover{
	color: #005873 !important;
}
/* Menu Description */
.menudesc {
  color: #ABC2C9;
}

/* Slideshow Text */
.flexslider .slides li li,
.flexslider .slides li p {
  color: #D5EAF0;
}
a.button {
  color: #ffffff;
}
.search-box .input-search {
  border: 1px solid #00465C;
  background-color: #00232E !important;
}